
        <main class="register_page">
            <form class="main__form">
         <h1 class="main__form_title">{{form_title}}</h1>
        <div class="main__form_inputs">
            <label>
                Почта
                <input name="email" value="{{email}}">
            </label>            
            <label>
              Логин
                <input name="login" value="{{login}}">
            </label>       
            <label>
                Имя
                <input name="first_name" value="{{first_name}}">
            </label>  
            <label>
                Фамилия
                <input name="second_name" value="{{second_name}}">
            </label>
            <label>
                Телефон
                <input name="phone" value="{{phone}}">
            </label>  
            <label>
               Пароль
                <input name="password" value="{{password}}">
            </label>           
            <label>
                Пароль (ещё раз)
                <input name="password" value="{{password}}">
            </label> 
        </div>

        <div class="btn_container">
            {{> authButton data-current_page="messanger_page"  }}
            {{> regButton data-current_page="login"   }}
        </div>
         </form>
        </main>
