<main><div class="profile__page">
    <div class="sidebar">    
        <a href="" class="sidebar_link">⭠</a>
</div>
    
<div class="profile__page_container">
    <img src={{avatar}} alt="" class="avatar">
    <h3 class="name">{{profileName}}</h3>

    <form class="form">
        <div class="input_container">
            <label>
                Почта
                <input name="{{email}}" placeholder="{{TEXT}}" type="{{TEXT}}" >
            </label>
            <label>
                Логин
                <input name="{{login}}" placeholder="{{TEXT}}" type="{{TEXT}}" >
            </label>
            <label>
                Имя
                <input name="{{first_name}}" placeholder="{{TEXT}}" type="{{TEXT}}" >
            </label>
            <label>
                Фамилия
                <input name="{{second_name}}" placeholder="{{TEXT}}" type="{{TEXT}}" >
            </label>
            <label>
                Имя в чате
                <input name="{{display_name}}" placeholder="{{TEXT}}" type="{{TEXT}}" >
            </label>
            <label>
                Телефон
                <input name="{{phone}}" placeholder="{{TEXT}}" type="{{TEXT}}" >
            </label>
        </div>
            <div class="btn_container">
                <a href="">Изменить данные</a>
                <a href="">Изменить пароль</a>
                <a href="" class="exit">Выйти</a>
            </div>
    </form>
</div>
</div>
</main>


