<main><div class="profile__page">
    <div class="sidebar">
        <a href="" class="sidebar_link">⭠</a>
</div>

<div class="profile__page_container">
    <input class="avatar" type="file" name="avatar" accept="image/png, image/jpeg">
    <h1 class="name">{{first_name}}</h1>

    <form class="form">
        <div class="input_container">
            <label>
                Почта
                <input name="email" placeholder="{{TEXT}}" value="{{email}}" >
            </label>
            <label>
                Логин
                <input name="login" placeholder="{{TEXT}}" value="{{login}}" >
            </label>
            <label>
                Имя
                <input name="first_name" placeholder="{{TEXT}}" value="{{first_name}}" >
            </label>
            <label>
                Фамилия
                <input name="second_name" placeholder="{{TEXT}}" value="{{second_name}}" >
            </label>
            <label>
                Имя в чате
                <input name="display_name" placeholder="{{TEXT}}" value="{{display_name}}" >
            </label>
            <label>
                Телефон
                <input name="phone" placeholder="{{TEXT}}" value="{{phone}}" >
            </label>

    <div class="password_change_container">
         <label>
                Старый пароль
                <input name="oldPassword" placeholder="{{TEXT}}" value="{{oldPassword}}" >
            </label>
            <label>
                Новый пароль
                <input name="newPassword" placeholder="{{TEXT}}" value="{{newPassword}}" >
            </label>
            <label>
                Повторите новый пароль
                <input name="newPassword" placeholder="{{TEXT}}" value="{{newPassword}}" >
            </label></div>

        </div>
            <div class="btn_container">
                <a href="">Изменить данные</a>
                <a href="">Изменить пароль</a>
                <a href="" class="exit">Выйти</a>
            </div>
    </form>
</div>
</div>
</main>
